{
  "env": {
      "browser": true,
      "commonjs": true,
      "es6": true,
      "node": true
  },
  "parserOptions": {
      "ecmaVersion": 9,
      "sourceType": "module"
  },
  "globals": {
    "describe": true,
    "before": true,
    "it": true,
    "beforeEach": true
  },
  "rules": {
    "func-names": "off",
    "semi": "error",
    "max-len": [2, 140],
    "comma-dangle": [1, "never"],
    "quotes": ["warn", "single", { "allowTemplateLiterals": true }],
    "no-underscore-dangle": [0, { "allow": ["*"] }],
    "prefer-arrow-callback": [1, { "allowNamedFunctions": true }],
    "generator-star-spacing": 0,
    "space-before-function-paren": [ 2, "always" ],
    "no-return-assign": 0,
    "radix": 0,
    "space-in-parens": 0,
    "operator-linebreak": [ 2, "after" ],
    "consistent-return": [0],
    "no-else-return": [0],
    "no-confusing-arrow": [0],
    "prefer-const": [1]
  }
}
